# Aggregating Data - India

In [1]:
import sys
sys.path.insert(0, "scraping")

import pandas as pd

In [2]:
ppl = pd.read_excel("data/PPL/PPL_India.xlsx")
pgm_descr = pd.read_csv("data/intermediate/program_description_india.csv")
pgm_other = pd.read_csv("data/intermediate/program_other_data_india.csv")

In [3]:
ppl.columns

Index(['Name of university', 'Name of program', 'Duration (years)',
       'random comments', 'Type of website',
       'How is curriculum data displayed?', 'URL', 'Useful area',
       'Status of Funding',
       'Ranking of university (QS-India, 2020) (Can be same for 2 different unis)',
       'Department offering program', 'Location',
       'Fees (INR) (excludes the refundables; Indian Students; General category; full academic program; rounded of)'],
      dtype='object')

In [4]:
ppl = ppl.drop(['random comments', 'Type of website', 'Useful area', 'How is curriculum data displayed?'], axis=1)
pgm_descr = pgm_descr.drop(['header'], axis=1)

In [5]:
temp1 = ppl.merge(pgm_descr, left_on='URL', right_on='url', validate='1:1', how='outer')
temp1 = temp1.drop('URL', axis=1)

temp1.head(2)

,Name of university,Name of program,Duration (years),Status of Funding,"Ranking of university (QS-India, 2020) (Can be same for 2 different unis)",Department offering program,Location,Fees (INR) (excludes the refundables; Indian Students; General category; full academic program; rounded of),url,content
0,Indian Institute of Science Bangalore,M.Tech. Computational and Data Science,2.0,Public,2.0,Department of Computational and Data Sciences,Karnataka,28000.0,http://cds.iisc.ac.in/admissions/course-degrees/,Computational Science and Data Science are int...
1,Indian Institute of Science Bangalore,M.Tech. Artificial Intelligence,2.0,Public,2.0,Departments of Computer Science and Automation...,Karnataka,28000.0,https://eecs.iisc.ac.in/mtechai/,Artificial Intelligence has captured the ima...

In [6]:
temp2 = temp1.merge(pgm_other, on='url', how='outer')
temp2.head()

,Name of university,Name of program,Duration (years),Status of Funding,"Ranking of university (QS-India, 2020) (Can be same for 2 different unis)",Department offering program,Location,Fees (INR) (excludes the refundables; Indian Students; General category; full academic program; rounded of),url,content,header_tag,header_names,links_useful_area,date_published,date_last_modified,tags,tag_freq,emphasized
0,Indian Institute of Science Bangalore,M.Tech. Computational and Data Science,2.0,Public,2.0,Department of Computational and Data Sciences,Karnataka,28000.0,http://cds.iisc.ac.in/admissions/course-degrees/,Computational Science and Data Science are int...,"['h1', 'h2', 'h3']","[['\n\t\t\tCourse Degree Admissions, 2021\t\t'...",['https://iisc.ac.in/admissions/m-tech-m-des/'...,Not inferred,Not inferred,"['header', 'h1', 'div', 'ul', 'li', 'span', 's...","{'header': 1, 'h1': 1, 'div': 1, 'ul': 6, 'li'...","['the m.tech. (cds) admission process', 'downl..."
1,Indian Institute of Science Bangalore,M.Tech. Artificial Intelligence,2.0,Public,2.0,Departments of Computer Science and Automation...,Karnataka,28000.0,https://eecs.iisc.ac.in/mtechai/,Artificial Intelligence has captured the ima...,"['h1', 'h2']","[['MTech (AI) @ IISc'], ['Admissions 2021 â€“ Ap...","['https://ai.iisc.ac.in', 'https://admissions-...",Not inferred,Not inferred,"['h1', 'p', 'img', 'p', 'strong', 'a', 'p', 'h...","{'h1': 1, 'p': 18, 'img': 2, 'strong': 15, 'a'...",['written test will be held online with remote...
2,University of Hyderabad,MBA Business Analytics,2.0,Public,8.0,School of Management Studies,Telangana,154000.0,https://smsuoh.ac.in/mba/mba-business-analytics/,The School has launched a two year MBA in Bus...,"['h2', 'h4']","[['MBA Business Analytics'], ['Highlights of t...",no links in useful area,2017-11-21,2019-01-28,"['article', 'div', 'h2', 'p', 'h4', 'ul', 'li'...","{'article': 1, 'div': 1, 'h2': 1, 'p': 9, 'h4'...","['guest lectures', 'semester-4', 'continuous e..."
3,University of Hyderabad,M.Tech. Artificial Intelligence,2.0,Public,8.0,School of Computer and Information Sciences,Telangana,38000.0,https://scis.uohyd.ac.in/Academic/Programmes/m...,M.Tech Artificial Intelligence is also a four...,['h2'],[['Master of Technology in Artificial Intellig...,"['./mtechaiold_program.php', './mtechainew_pro...",2018-01-01,2018-01-01,"['div', 'h2', 'p', 'b', 'ul', 'li', 'a', 'li',...","{'div': 1, 'h2': 1, 'p': 1, 'b': 1, 'ul': 1, '...","['m.tech artificial intelligence', 'master of ..."
4,IIT Guwahati,M.Tech Data Science,2.0,Public,10.0,Departments of Computer Science and Engineerin...,Assam,46000.0,https://www.iitg.ac.in/ds/,Data Science is gaining prominence in academi...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN

In [7]:
ren_cols = [
    'uni_name',
    'pgm_name',
    'dur_yrs',
    'type',
    'national_rank_qs',
    'dept_involved',
    'location',
    'fees_inr',
    'url',
    'descr',
    'header_tag',
    'header_names',
    'links',
    'date_pub',
    'date_last_mod',
    'html_tags',
    'html_tag_freq',
    'html_emphasized_elements'
]

temp2.columns = ren_cols

In [8]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 0 to 36
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   uni_name                  33 non-null     object
 1   pgm_name                  33 non-null     object
 2   dur_yrs                   33 non-null     float64
 3   type                      33 non-null     object
 4   national_rank_qs          33 non-null     float64
 5   dept_involved             33 non-null     object
 6   location                  33 non-null     object
 7   fees_inr                  33 non-null     float64
 8   url                       35 non-null     object
 9   descr                     29 non-null     object
 10  header_tag                21 non-null     object
 11  header_names              21 non-null     object
 12  links                     21 non-null     object
 13  date_pub                  33 non-null     object
 14  date_last_mod             33 non-null     object
 15  html_tags                 21 non-null     object
 16  html_tag_freq             21 non-null     object
 17  html_emphasized_elements  21 non-null     object
dtypes: float64(3), object(15)
memory usage: 5.5+ KB

In [9]:
temp2.head()

,uni_name,pgm_name,dur_yrs,type,national_rank_qs,dept_involved,location,fees_inr,url,descr,header_tag,header_names,links,date_pub,date_last_mod,html_tags,html_tag_freq,html_emphasized_elements
0,Indian Institute of Science Bangalore,M.Tech. Computational and Data Science,2.0,Public,2.0,Department of Computational and Data Sciences,Karnataka,28000.0,http://cds.iisc.ac.in/admissions/course-degrees/,Computational Science and Data Science are int...,"['h1', 'h2', 'h3']","[['\n\t\t\tCourse Degree Admissions, 2021\t\t'...",['https://iisc.ac.in/admissions/m-tech-m-des/'...,Not inferred,Not inferred,"['header', 'h1', 'div', 'ul', 'li', 'span', 's...","{'header': 1, 'h1': 1, 'div': 1, 'ul': 6, 'li'...","['the m.tech. (cds) admission process', 'downl..."
1,Indian Institute of Science Bangalore,M.Tech. Artificial Intelligence,2.0,Public,2.0,Departments of Computer Science and Automation...,Karnataka,28000.0,https://eecs.iisc.ac.in/mtechai/,Artificial Intelligence has captured the ima...,"['h1', 'h2']","[['MTech (AI) @ IISc'], ['Admissions 2021 â€“ Ap...","['https://ai.iisc.ac.in', 'https://admissions-...",Not inferred,Not inferred,"['h1', 'p', 'img', 'p', 'strong', 'a', 'p', 'h...","{'h1': 1, 'p': 18, 'img': 2, 'strong': 15, 'a'...",['written test will be held online with remote...
2,University of Hyderabad,MBA Business Analytics,2.0,Public,8.0,School of Management Studies,Telangana,154000.0,https://smsuoh.ac.in/mba/mba-business-analytics/,The School has launched a two year MBA in Bus...,"['h2', 'h4']","[['MBA Business Analytics'], ['Highlights of t...",no links in useful area,2017-11-21,2019-01-28,"['article', 'div', 'h2', 'p', 'h4', 'ul', 'li'...","{'article': 1, 'div': 1, 'h2': 1, 'p': 9, 'h4'...","['guest lectures', 'semester-4', 'continuous e..."
3,University of Hyderabad,M.Tech. Artificial Intelligence,2.0,Public,8.0,School of Computer and Information Sciences,Telangana,38000.0,https://scis.uohyd.ac.in/Academic/Programmes/m...,M.Tech Artificial Intelligence is also a four...,['h2'],[['Master of Technology in Artificial Intellig...,"['./mtechaiold_program.php', './mtechainew_pro...",2018-01-01,2018-01-01,"['div', 'h2', 'p', 'b', 'ul', 'li', 'a', 'li',...","{'div': 1, 'h2': 1, 'p': 1, 'b': 1, 'ul': 1, '...","['m.tech artificial intelligence', 'master of ..."
4,IIT Guwahati,M.Tech Data Science,2.0,Public,10.0,Departments of Computer Science and Engineerin...,Assam,46000.0,https://www.iitg.ac.in/ds/,Data Science is gaining prominence in academi...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN

In [10]:
# remove fee information
temp2 = temp2.drop('fees_inr', axis=1)

In [11]:
temp2

,uni_name,pgm_name,dur_yrs,type,national_rank_qs,dept_involved,location,url,descr,header_tag,header_names,links,date_pub,date_last_mod,html_tags,html_tag_freq,html_emphasized_elements
0,Indian Institute of Science Bangalore,M.Tech. Computational and Data Science,2.0,Public,2.0,Department of Computational and Data Sciences,Karnataka,http://cds.iisc.ac.in/admissions/course-degrees/,Computational Science and Data Science are int...,"['h1', 'h2', 'h3']","[['\n\t\t\tCourse Degree Admissions, 2021\t\t'...",['https://iisc.ac.in/admissions/m-tech-m-des/'...,Not inferred,Not inferred,"['header', 'h1', 'div', 'ul', 'li', 'span', 's...","{'header': 1, 'h1': 1, 'div': 1, 'ul': 6, 'li'...","['the m.tech. (cds) admission process', 'downl..."
1,Indian Institute of Science Bangalore,M.Tech. Artificial Intelligence,2.0,Public,2.0,Departments of Computer Science and Automation...,Karnataka,https://eecs.iisc.ac.in/mtechai/,Artificial Intelligence has captured the ima...,"['h1', 'h2']","[['MTech (AI) @ IISc'], ['Admissions 2021 â€“ Ap...","['https://ai.iisc.ac.in', 'https://admissions-...",Not inferred,Not inferred,"['h1', 'p', 'img', 'p', 'strong', 'a', 'p', 'h...","{'h1': 1, 'p': 18, 'img': 2, 'strong': 15, 'a'...",['written test will be held online with remote...
2,University of Hyderabad,MBA Business Analytics,2.0,Public,8.0,School of Management Studies,Telangana,https://smsuoh.ac.in/mba/mba-business-analytics/,The School has launched a two year MBA in Bus...,"['h2', 'h4']","[['MBA Business Analytics'], ['Highlights of t...",no links in useful area,2017-11-21,2019-01-28,"['article', 'div', 'h2', 'p', 'h4', 'ul', 'li'...","{'article': 1, 'div': 1, 'h2': 1, 'p': 9, 'h4'...","['guest lectures', 'semester-4', 'continuous e..."
3,University of Hyderabad,M.Tech. Artificial Intelligence,2.0,Public,8.0,School of Computer and Information Sciences,Telangana,https://scis.uohyd.ac.in/Academic/Programmes/m...,M.Tech Artificial Intelligence is also a four...,['h2'],[['Master of Technology in Artificial Intellig...,"['./mtechaiold_program.php', './mtechainew_pro...",2018-01-01,2018-01-01,"['div', 'h2', 'p', 'b', 'ul', 'li', 'a', 'li',...","{'div': 1, 'h2': 1, 'p': 1, 'b': 1, 'ul': 1, '...","['m.tech artificial intelligence', 'master of ..."
4,IIT Guwahati,M.Tech Data Science,2.0,Public,10.0,Departments of Computer Science and Engineerin...,Assam,https://www.iitg.ac.in/ds/,Data Science is gaining prominence in academi...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
5,IIT Hyderabad,M.Tech Artificial Intelligence,2.0,Public,15.0,Department of Artificial Intelligence,Telangana,https://iith.ac.in/academics/assets/files/pdf/...,The Department of AI is a newly launched depar...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
6,Anna University,M.E. Computer Science and Engineering (Special...,2.0,Public,16.0,Faculty of Information and Communication Engin...,Tamil Nadu,http://cs.annauniv.edu/pdf/14.M.E%20Big%20Data...,1. Prepare students to understand the foundati...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
7,Jamia Millia Islamia,MSc in Banking and Financial Analytics,2.0,Public,21.0,Department of Economics,New Delhi,https://www.jmi.ac.in/upload/programme/fss_cur...,The Department of Economics is a premier Depar...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
8,Symbiois International,MBA Business Analytics,2.0,Private,23.0,Department of Management,Maharashtra,https://www.scmhrd.edu/mba-ba-admissions,MBA in Business Analytics programme aims to pr...,['h1'],[['MBA (BA) programme Overview']],"['#programmedetails', '#program_struct', '#ori...",Not inferred,Not inferred,"['div', 'ul', 'li', 'span', 'li', 'a', 'li', '...","{'div': 68, 'ul': 11, 'li': 34, 'span': 107, '...","['(gepi)', 'step 3', '4,02,900', '25 july 2021..."
9,Symbiois International,M.Tech Artificial Intelligence and Machine Lea...,2.0,Private,23.0,Department of Engineering,Maharashtra,https://www.sitpune.edu.in/mtech_AI,Department of AI and ML in collaboration with...,"['h2', 'h1', 'h4']","[['Academics'], ['M.Tech (Artificial Intellige...","['https://www.sitpune.edu.in', '#', '#publiact...",2018-01-01,2020-04-01,"['div', 'div', 'h2', 'div', 'ul', 'li', 'a', '...","{'div': 16, 'h2': 1, 'ul': 6, 'li': 36, 'a': 1...","['business analyst', 'd)', 'in the given curri..."
10,Symbiois International,MSc Data Science and Spatial Analytics,2.0,Private,23.0,Department of Engineering,Maharashtra,https://sig.ac.in/datascience,The current trends of Artificial Intelligence ...,"['h3', 'h4']",[[' M.Sc. DATA SCIENCE AND SPATIAL ANALYTICS']...,"['#v1', '#v2', '#v4', '#v5', '#v6', '#v7', '#v...",2019-01-01,2021-05-01,"['h3', 'strong', 'ul', 'li', 'a', 'li', 'a', '...","{'h3': 1, 'strong': 13, 'ul': 8, 'li': 41, 'a'...",['â€œlearning from data is virtually universally...
11,IIT Ropar,M.Tech Artificial Intelligence,2.0,Public,25.0,Department of Computer Science and Engineering,Punjab,https://www.iitrpr.ac.in/information-about-mte...,1. The purpose is to develop a work force whic...,['h1'],[['Information about M.Tech in Artificial Inte...,no links in useful area,2021-01-01,2021-01-01,"['h1', 'span', 'div', 'div', 'div', 'span', 'd...","{'h1': 1, 'span': 337, 'div': 7, 'style': 1, '...","['summer semester', 'semester iv', 'informatio..."
12,Manipal Academy of Higher Education,MSc in Business Analytics,2.0,Private,26.0,Department of Commerce,Karnataka,https://manipal.edu/doc/program-list/msc-busin...,The program aims to develop business analytic...,"['h1', 'h2', 'h3', 'h4']","[['M.Sc', 'Business Analytics'], ['Overview', ...",['https://apply.manipal.edu/mu/admission/login...,2021-06-30,2021-06-30,"['div', 'div', 'div', 'div', 'div', 'div', 'pi...","{'div': 225, 'picture': 11, 'source': 35, 'img...",['the center for supply chain education and re...
13,Manipal Academy of Higher Education,MSc in Data Science,2.0,Private,26.0,Department of Data Science,Karnataka,https://manipal.edu/doph/program-list/msc-data...,The MSc Programme in Data Science (launched i...,"['h2', 'h3', 'h4']","[['Master of Science in Data Science (MSc)', '...",['https://apply.manipal.edu/?fbclid=IwAR3mR5So...,2021-06-30,2021-06-30,"['div', 'div', 'div', 'div', 'div', 'div', 'pi...","{'div': 178, 'picture': 8, 'source': 26, 'img'...","['student housing', 'curriculum overview', 'fa..."
14,NIT Tiruchirappalli,M.Tech Data Analytics,2.0,Public,27.0,Department of Computer Applications,Tamil Nadu,https://www.nitt.edu/home/academics/department...,M.Tech in Data Analytics offered by the Depar...,['h1'],[['M.Tech.']],['/home/academics/departments/ca/programmes/M....,2017-10-30,2017-10-30,"['h1', 'p', 'p', 'a']","{'h1': 1, 'p': 2, 'a': 1}",['m.tech.']
15,Vellore Institute of Technology Vellore,MSc Data Science,2.0,Private,28.0,"Departments of Mathematics, Physics and Chemsitry",Tamil Nadu,https://vit.ac.in/sites/default/files/M.Sc.Dat...,1. Graduates will demonstrate proficiency with...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
16,Vellore Institute of Technology Vellore,MSc Business Statistics,2.0,Private,28.0,"Departments of Mathematics, Physics and Chemsitry",Tamil Nadu,https://vit.ac.in/sites/default/files/M.Sc.-Bu...,"To analyze a business problem in industry, aca...",NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
17,Vellore Institute of Technology Vellore,M.Tech Computer Science and Engineering - Spec...,2.0,Private,28.0,School of Computer Science and Engineering,Tamil Nadu,https://vit.ac.in/sites/default/files/scope/M....,1. The ability to formulate mathematical model...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
18,Vellore Institute of Technology Vellore,M.Tech Computer Science and Engineering - Spec...,2.0,Private,28.0,School of Computer Science and Engineering,Tamil Nadu,https://vit.ac.in/sites/default/files/scope/M....,1. Ability to design and develop computer prog...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
19,Annamalai University,MSc Data Science,2.0,Public,39.0,Department of Computer and Information Science,Tamil Nadu,https://annamalaiuniversity.ac.in/studport/dow...,PSO1 Adapt the acquired knowledge for solving ...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
20,Annamalai University,MBA Business Analytics,2.0,Public,39.0,Department of Business Administration,Tamil Nadu,https://annamalaiuniversity.ac.in/studport/dow...,PSO1: To facilitate you develop proficiency in...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
21,IIIT Allahabad,M.Tech Data Science And Analytics,2.0,Public,40.0,"Departments of Applied Sciences, Information T...",Uttar Pradesh,https://dsa.iiita.ac.in/,M. Tech Data Science and Analytics at the Ind...,"['h1', 'h2', 'h3']",[['Master of Technology in Data Science and An...,"['#about', '#admission', '#apply', '#course', ...",2020-10-01,2020-12-01,"['nav', 'div', 'div', 'div', 'div', 'div', 'di...","{'nav': 1, 'div': 266, 'a': 11, 'span': 25, 's...","['course curriculum', 'capstone project:', 'po..."
22,Amrita Vishwa Vidyapeetham,M.Tech in Artificial Intelligence,2.0,Private,41.0,Department of Computer Science and Engineering,Coimbatore,https://www.amrita.edu/program/m-tech-artifici...,M. Tech. in Artificial Intelligence is a progr...,"['h3', 'h2']",[['Contact MTech Team\nCall Us Now: 9 AM - 6 P...,['https://aoap.amrita.edu/cap/index/index?refe...,2021-05-28,2021-05-28,"['div', 'div', 'section', 'div', 'a', 'div', '...","{'div': 162, 'section': 8, 'a': 39, 'style': 2...","['10', '+91 9633913855', 'akhil sreekumar', 't..."
23,Amrita Vishwa Vidyapeetham,M.Tech in Artificial Intelligence and Data Sci...,2.0,Private,41.0,Department of Computer Science and Engineering,Coimbatore,https://www.amrita.edu/program/m-tech-artifici...,M. Tech. in Artificial Intelligence and Data ...,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
24,Amrita Vishwa Vidyapeetham,M.Tech in Data Science,2.0,Private,41.0,Department of Computer Science and Engineering,Coimbatore,https://www.amrita.edu/program/m-tech-computat...,The Center for Computational Engineering and N...,"['h3', 'h2']",[['Contact MTech Team\nCall Us Now: 9 AM - 6 P...,['https://aoap.amrita.edu/cap/index/index?refe...,2020-04-24,2020-04-24,"['div', 'div', 'section', 'div', 'a', 'div', '...","{'div': 292, 'section': 8, 'a': 55, 'style': 5...","['+91 9633913855', 'testimonials', '19', 'thru..."
25,Indraprastha Institute of Information Technology,M.Tech (CSE) with specialization in Data Engin...,2.0,Public,41.0,Department of Computer Science and Engineering,New Delhi,https://www.iiitd.ac.in/academics/mtech/data-engg,The explosive growth of data coupled with the...,"['h1', 'h3']",[['M.Tech. (CSE) with specialization in Data E...,"['/people/faculty', '/research', 'https://www....",2017-01-23,2021-04-13,"['div', 'h1', 'div', 'div', 'div', 'span', 'sp...","{'div': 8, 'h1': 1, 'span': 3, 'p': 7, 'h3': 4...","['specialization in data engineering', 'intern..."
26,Indraprastha Institute of Information Technology,M.Tech (CSE) with specialization in Artificial...,2.0,Public,41.0,Department of Computer Science and Engineering,New Delhi,https://www.iiitd.ac.in/academics/mtech/ai,Artificial Intelligence (AI) has become an in...,"['h1', 'h4']",[['M.Tech. (CSE) with specialization in Artifi...,"['/academics/courses/institute', '/people/facu...",2018-04-20,2021-04-13,"['div', 'h1', 'div', 'div', 'div', 'span', 'sp...","{'div': 8, 'h1': 1, 'span': 2, 'p': 7, 'h4': 3...",['core ai courses â€“ a student has to complete ...
27,Amity University,M.Tech Data Science,2.0,Private,43.0,School of Engineering and Technology,Uttar Pradesh,https://www.amity.edu/course-details.aspx?fd=F...,NaN,"['h4', 'h1', 'h3', 'h2']","[['Browse Course', '1st Year ', '2nd Year ', '...","['program-detail2.html', '#', 'javascript:void...",2018-01-01,2021-01-01,"['div', 'div', 'div', 'h4', 'ul', 'li', 'a', '...","{'div': 55, 'h4': 5, 'ul': 7, 'li': 49, 'a': 8...","['semester 3', 'university', 'semester 2', '1s..."
28,Amity University,M.Tech Artificial Intelligence,2.0,Private,43.0,School of Engineering and Technology,Uttar Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Amity University,MBA Business Analytics,2.0,Private,43.0,Institute of Competitive Intelligence and Stra...,Uttar Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,IIT Dhanbad,MBA Business Analytics,2.0,Public,46.0,Department of Management Studies,Jharkhand,https://www.iitism.ac.in/~dms/index.php/buss_ana,The two-year program includes eleven core cour...,"['h2', 'h4']","[['Business Analytics '], ['\nSemester 1\n', '...","['#faq01', '#faq1', '#faq2', '#faq3', '#faq51'...",2009-01-01,2021-01-01,"['div', 'div', 'div', 'div', 'h2', 'span', 'p'...","{'div': 148, 'h2': 1, 'span': 1, 'p': 1, 'h4':...","['cognos lab', 'lab.4.', 'msc508', '[6 l]', '3..."
31,IIT Dhanbad,M.Tech Data Analytics,2.0,Public,46.0,Department of Mathematics and Computing,Jharkhand,https://www.iitism.ac.in/pdfs/departments/math...,NaN,NaN,NaN,NaN,Not inferred,Not inferred,NaN,NaN,NaN
32,University of Kerala,MSc Computer Science (Artificial Intelligence),2.0,Public,49.0,Department of Computer Science,Thiruvananthapuram,http://dcsku.org/MSC%20AI.php,Artificial intelligence (AI) is increasingly i...,['h1'],[['MSc Computer Science (Artificial Intelligen...,"['index.php', 'resources/MSC AI Syllabus.pdf']",2018-01-01,2018-01-01,"['br', 'h1', 'small', 'ol', 'li', 'a', 'li', '...","{'br': 3, 'h1': 1, 'small': 1, 'ol': 1, 'li': ...",['msc computer science (artificial intelligenc...
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.amity.edu/course-details.aspx?fd=F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.amity.edu/course-list.aspx?fd=Mana...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.amity.edu/course-details.aspx?fd=F...,NaN,"['h4', 'h1', 'h3']","[['Browse Course', 'Eligibility', 'Selection P...","['program-detail2.html', '#', 'javascript:void...",Not inferred,Not inferred,"['div', 'div', 'div', 'h4', 'ul', 'li', 'a', '...","{'div': 39, 'h4': 3, 'ul': 2, 'li': 6, 'a': 6,...","['university', 'campus', 'eligibility', 'm.tec..."
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.amity.edu/course-details.aspx?fd=F...,NaN,"['h4', 'h1', 'h3', 'h2']","[['Browse Course', '1st Year ', '2nd Year ', '...","['program-detail2.html', '#', 'javascript:void...",2020-01-01,2021-01-01,"['div', 'div', 'div', 'h4', 'ul', 'li', 'a', '...","{'div': 55, 'h4': 5, 'ul': 7, 'li': 63, 'a': 8...","['for s (sponsored) category', 'semester 4', '..."

In [18]:
temp2.to_csv('data/processed/india_pgms.csv', index=False)