In [1]:
import os
import pandas as pd

from gds_operations import CourseScorer, ProgramScorer, ScoreNormalizer

In [2]:
label_dictionary = pd.read_csv('labelled_units_words.csv')

data_path = "../../data_collection/data/processed"
pgm_india = pd.read_csv(os.path.join(data_path, "india_pgms.csv")).fillna("Not inferred")
pgm_usa = pd.read_csv(os.path.join(data_path, "usa_pgms.csv")).fillna("Not inferred")
curr_india = pd.read_csv(os.path.join(data_path, "india_curr.csv")).fillna("Not inferred")
curr_usa = pd.read_csv(os.path.join(data_path, "usa_curr.csv")).fillna("Not inferred")
curr_usa = curr_usa.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1)

india_data = curr_india.merge(pgm_india)
usa_data = curr_usa.merge(pgm_usa)

In [3]:
df = pd.concat([curr_usa, curr_india])
df = df.drop(['course outcome or overview', 'topics covered'], axis=1)
df.shape

(1002, 2)

In [4]:
df.head()

,url,compulsory course
0,https://www.seas.harvard.edu/applied-computati...,Systems Development for Computational Science
1,https://www.seas.harvard.edu/applied-computati...,Introduction to Data Science
2,https://www.seas.harvard.edu/applied-computati...,Advanced Topics in Data Science
3,https://www.seas.harvard.edu/applied-computati...,Critical Thinking in Data Science
4,https://www.seas.harvard.edu/applied-computati...,Advanced Scientific Computing: Stochastic Meth...

In [6]:
cs = CourseScorer(label_dictionary, df)
t = cs.score_courses_by_gds()
t.head(10)

,url,compulsory course,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Not determinable
0,https://www.seas.harvard.edu/applied-computati...,Systems Development for Computational Science,0,0,1,0,0,0,0
1,https://www.seas.harvard.edu/applied-computati...,Introduction to Data Science,1,1,1,1,1,0,0
2,https://www.seas.harvard.edu/applied-computati...,Advanced Topics in Data Science,1,1,1,1,1,0,0
3,https://www.seas.harvard.edu/applied-computati...,Critical Thinking in Data Science,1,1,1,1,1,1,0
4,https://www.seas.harvard.edu/applied-computati...,Advanced Scientific Computing: Stochastic Meth...,1,1,1,1,1,0,0
5,https://ed.stanford.edu/academics/masters/ed-d...,Education data science seminar,1,1,1,1,1,0,0
6,https://ed.stanford.edu/academics/masters/ed-d...,Data Processing,0,0,1,0,0,0,0
7,https://ed.stanford.edu/academics/masters/ed-d...,Machine Learning,0,0,1,1,0,0,0
8,https://ed.stanford.edu/academics/masters/ed-d...,Introduction to Statistical Methods in Education,0,0,1,1,0,0,0
9,https://ed.stanford.edu/academics/masters/ed-d...,Statistical Analysis in Education,1,1,1,1,1,0,0

In [ ]:
def label_by_subject(x, subject):

    if subject in x.lower():
        return 1
    return 0

t['Data Gathering, Preparation and Exploration'] = t['Data Gathering, Preparation and Exploration'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "data science"))
t['Data Representation and Transformation'] = t['Data Representation and Transformation'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "data science"))
t['Computing with Data'] = t['Computing with Data'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "data science"))
t['Data Modeling'] = t['Data Modeling'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "data science"))
t['Data Visualization and Presentation'] = t['Data Visualization and Presentation'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "data science"))


t['Data Gathering, Preparation and Exploration'] = t['Data Gathering, Preparation and Exploration'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "artificial intelligence"))
t['Data Representation and Transformation'] = t['Data Representation and Transformation'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "artificial intelligence"))
t['Computing with Data'] = t['Computing with Data'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "artificial intelligence"))
t['Data Modeling'] = t['Data Modeling'] | t['compulsory course'].apply(lambda x: label_by_subject(x, "artificial intelligence"))

In [7]:
t[t['compulsory course'] == 'Not inferred']

,url,compulsory course,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Not determinable
152,https://www.sitpune.edu.in/mtech_AI,Not inferred,0,0,1,0,0,0,0
334,https://www.amity.edu/course-details.aspx?fd=F...,Not inferred,0,0,1,0,0,0,0
382,https://manipal.edu/doph/program-list/msc-data...,Not inferred,0,0,1,0,0,0,0

In [ ]:
sn = ScoreNormalizer(t)
t2 = sn.update_scored_df()
t2.head()

In [ ]:
ps = ProgramScorer(label_dictionary, df)
t3 = ps.score_programs_by_gds()
t3.head(3)

In [ ]:
sn = ScoreNormalizer(t3)
t4 = sn.update_scored_df()
t4.head()

In [ ]:
t4.shape

In [ ]:
f = pd.merge(pgm_usa, t4, on='url')
f.shape

In [ ]:
f.head()