In [6]:
import os
import pandas as pd

from gds_operations import CourseScorer, ProgramScorer, ScoreNormalizer

In [12]:
label_dictionary = pd.read_csv('labelled_words.csv')

data_path = "../../data_collection/data/processed"
pgm_india = pd.read_csv(os.path.join(data_path, "india_pgms.csv")).fillna("Not inferred")
pgm_usa = pd.read_csv(os.path.join(data_path, "usa_pgms.csv")).fillna("Not inferred")
curr_india = pd.read_csv(os.path.join(data_path, "india_curr.csv")).fillna("Not inferred")
curr_usa = pd.read_csv(os.path.join(data_path, "usa_curr.csv")).fillna("Not inferred")
curr_usa = curr_usa.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1)

india_data = curr_india.merge(pgm_india)
usa_data = curr_usa.merge(pgm_usa)

In [13]:
df = curr_usa
df = df.drop(['course outcome or overview', 'topics covered'], axis=1)
df.head(2)

,url,compulsory course
0,https://www.seas.harvard.edu/applied-computati...,Systems Development for Computational Science
1,https://www.seas.harvard.edu/applied-computati...,Introduction to Data Science

In [14]:
cs = CourseScorer(label_dictionary, df)
t = cs.score_courses_by_gds()
t.head(3)

,url,compulsory course,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Soft Skills,Domain Specific,Not determinable
0,https://www.seas.harvard.edu/applied-computati...,Systems Development for Computational Science,0,0,1,0,0,0,0,0,0
1,https://www.seas.harvard.edu/applied-computati...,Introduction to Data Science,1,1,1,1,1,0,0,0,0
2,https://www.seas.harvard.edu/applied-computati...,Advanced Topics in Data Science,1,1,1,1,1,0,0,0,0

In [15]:
sn = ScoreNormalizer(t)
t2 = sn.update_scored_df()
t2.head()

,url,compulsory course,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Soft Skills,Domain Specific,Not determinable
0,https://www.seas.harvard.edu/applied-computati...,Systems Development for Computational Science,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,https://www.seas.harvard.edu/applied-computati...,Introduction to Data Science,0.200000,0.200000,0.200000,0.200000,0.200000,0.000000,0.0,0.0,0.0
2,https://www.seas.harvard.edu/applied-computati...,Advanced Topics in Data Science,0.200000,0.200000,0.200000,0.200000,0.200000,0.000000,0.0,0.0,0.0
3,https://www.seas.harvard.edu/applied-computati...,Critical Thinking in Data Science,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.0,0.0,0.0
4,https://www.seas.harvard.edu/applied-computati...,Advanced Scientific Computing: Stochastic Meth...,0.200000,0.200000,0.200000,0.200000,0.200000,0.000000,0.0,0.0,0.0

In [16]:
ps = ProgramScorer(label_dictionary, df)
t3 = ps.score_programs_by_gds()
t3.head(3)

,url,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Soft Skills,Domain Specific,Not determinable
0,http://www.bu.edu/cs/masters/program/ai/,3,1,4,2,0,1,0,0,0
1,http://www.bu.edu/questrom/ms-in-business-anal...,7,5,8,8,5,2,0,0,0
2,http://www.buffalo.edu/grad/programs/business-...,6,6,6,6,5,0,0,0,0

In [17]:
sn = ScoreNormalizer(t3)
t4 = sn.update_scored_df()
t4.head()

,url,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Soft Skills,Domain Specific,Not determinable
0,http://www.bu.edu/cs/masters/program/ai/,0.272727,0.090909,0.363636,0.181818,0.000000,0.090909,0.0,0.0,0.0
1,http://www.bu.edu/questrom/ms-in-business-anal...,0.200000,0.142857,0.228571,0.228571,0.142857,0.057143,0.0,0.0,0.0
2,http://www.buffalo.edu/grad/programs/business-...,0.206897,0.206897,0.206897,0.206897,0.172414,0.000000,0.0,0.0,0.0
3,http://www.buffalo.edu/grad/programs/data-anal...,0.100000,0.200000,0.400000,0.200000,0.100000,0.000000,0.0,0.0,0.0
4,https://ai.meng.duke.edu/degree,0.076923,0.115385,0.384615,0.269231,0.076923,0.076923,0.0,0.0,0.0

In [18]:
t4.shape

(81, 10)

In [22]:
f = pd.merge(pgm_usa, t4, on='url')
f.shape

(81, 26)

In [23]:
f.head()

,uni_name,pgm_name,dur_yrs,type,national_rank_qs,dept_involved,location,url,descr,header_tag,...,html_emphasized_elements,"Data Gathering, Preparation and Exploration",Data Representation and Transformation,Computing with Data,Data Modeling,Data Visualization and Presentation,Science about Data Science,Soft Skills,Domain Specific,Not determinable
0,Harvard University,Master of Science Data Science,1.5,Private,1,Departments of Computer Science and Statistics,Cambridge,https://www.seas.harvard.edu/applied-computati...,"The Data Science master's program, jointly led...","['h1', 'h2']",...,"['wednesday, october 13', ""master's in data sc...",0.181818,0.181818,0.227273,0.181818,0.181818,0.045455,0.0,0.0,0.0
1,Stanford University,Master of Science Education Data Science,1.5,Private,2,School of Education,Stanford,https://ed.stanford.edu/academics/masters/ed-d...,Data hold enormous potential to advance discov...,"['h2', 'h1', 'h3', 'h4']",...,"['education data science (ms)', 'carl wieman',...",0.181818,0.181818,0.227273,0.227273,0.136364,0.045455,0.0,0.0,0.0
2,Stanford University,Master of Science in Statistics: Data Science,1.5,Private,2,School of Humanities and Sciences,Cambridge,https://statistics.stanford.edu/academic-progr...,This focused M.S. track is developed within th...,"['h1', 'h3', 'h4']",...,"['practical component (3 units) optional', 'mi...",0.074074,0.259259,0.333333,0.296296,0.037037,0.000000,0.0,0.0,0.0
3,Massachusetts Institute of Technology (MIT),Master of Business Analytics,1.0,Private,3,School of Management,Cambridge,https://mitsloan.mit.edu/master-of-business-an...,"In just 12 months, the MIT Sloan Master of Bus...","['h1', 'h2', 'h5', 'h3', 'h4']",...,"['master of business analytics', 'patrick jail...",0.172414,0.206897,0.206897,0.172414,0.206897,0.034483,0.0,0.0,0.0
4,Columbia University,Master of Science in Applied Analytics,1.5,Private,5,School of Professional Studies,Berkeley,https://sps.columbia.edu/academics/masters/app...,The Master of Science in Applied Analytics pre...,"['h1', 'h2', 'h3']",...,"['m.s. application requirements', 'featured fa...",0.184211,0.184211,0.210526,0.184211,0.184211,0.052632,0.0,0.0,0.0