# Aggregating Data - USA

In [17]:
import sys
sys.path.insert(0, "scraping")

import pandas as pd

In [18]:
ppl = pd.read_excel("data/PPL/PPL_USA.xlsx")
pgm_descr = pd.read_csv("data/intermediate/program_description_usa.csv")
pgm_other = pd.read_csv("data/intermediate/program_other_data_usa.csv")

In [19]:
ppl = ppl.drop(['random comments', 'Type of website', 'Useful area'], axis=1)

In [20]:
ppl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 9 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Name of university                                                       81 non-null     object
 1   Name of program                                                          81 non-null     object
 2   Duration (years) (Full-time)                                             55 non-null     float64
 3   URL                                                                      81 non-null     object
 4   Status of Funding                                                        81 non-null     object
 5   Ranking of university (QS-USA, 2020) (Can be same for 2 different unis)  81 non-null     int64
 6   Department offering program                                              81 non-null     object
 7   Location                                                                 81 non-null     object
 8   Fees (USD) (Only Tuition fees considered)                                7 non-null      float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.8+ KB

In [21]:
pgm_descr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      81 non-null     object
 1   content  81 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [22]:
pgm_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 81 non-null     object
 1   header_tag          81 non-null     object
 2   header_names        81 non-null     object
 3   links_useful_area   81 non-null     object
 4   date_published      81 non-null     object
 5   date_last_modified  81 non-null     object
 6   tags                81 non-null     object
 7   tag_freq            81 non-null     object
 8   emphasized          81 non-null     object
dtypes: object(9)
memory usage: 5.8+ KB

In [23]:
temp1 = ppl.merge(pgm_descr, left_on='URL', right_on='url', validate='1:1', how='outer')
temp1 = temp1.drop('URL', axis=1)

temp1.head(2)

,Name of university,Name of program,Duration (years) (Full-time),Status of Funding,"Ranking of university (QS-USA, 2020) (Can be same for 2 different unis)",Department offering program,Location,Fees (USD) (Only Tuition fees considered),url,content
0,Harvard University,Master of Science Data Science,1.5,Private,1,Departments of Computer Science and Statistics,Cambridge,87356.0,https://www.seas.harvard.edu/applied-computati...,"The Data Science master's program, jointly led..."
1,Stanford University,Master of Science Education Data Science,1.5,Private,2,School of Education,Stanford,60851.0,https://ed.stanford.edu/academics/masters/ed-d...,Data hold enormous potential to advance discov...

In [24]:
temp2 = temp1.merge(pgm_other, on='url', how='outer')
temp2.head()

,Name of university,Name of program,Duration (years) (Full-time),Status of Funding,"Ranking of university (QS-USA, 2020) (Can be same for 2 different unis)",Department offering program,Location,Fees (USD) (Only Tuition fees considered),url,content,header_tag,header_names,links_useful_area,date_published,date_last_modified,tags,tag_freq,emphasized
0,Harvard University,Master of Science Data Science,1.5,Private,1,Departments of Computer Science and Statistics,Cambridge,87356.0,https://www.seas.harvard.edu/applied-computati...,"The Data Science master's program, jointly led...","['h1', 'h2']","[[""Master's in Data Science\n""], ['Main naviga...","['/computer-science', 'https://statistics.fas....",2021-01-01,2021-01-01,"['div', 'div', 'h1', 'span', 'div', 'div', 'di...","{'div': 7, 'h1': 1, 'span': 2, 'p': 11, 'a': 3...","['wednesday, october 13', ""master's in data sc..."
1,Stanford University,Master of Science Education Data Science,1.5,Private,2,School of Education,Stanford,60851.0,https://ed.stanford.edu/academics/masters/ed-d...,Data hold enormous potential to advance discov...,"['h2', 'h1', 'h3', 'h4']","[['You are here', 'Education data science at S...","['/', '/academics/masters/data-science/program...",2020-06-05,2021-01-14,"['div', 'h2', 'ul', 'li', 'div', 'a', 'i', 'sp...","{'div': 210, 'h2': 4, 'ul': 1, 'li': 2, 'a': 2...","['education data science (ms)', 'carl wieman',..."
2,Stanford University,Master of Science in Statistics: Data Science,1.5,Private,2,School of Humanities and Sciences,Cambridge,72420.0,https://statistics.stanford.edu/academic-progr...,This focused M.S. track is developed within th...,"['h1', 'h3', 'h4']","[[' M.S. in Statistics: Data Science '], ['201...",['https://statistics.stanford.edu/academics/ms...,2019-01-01,2020-01-01,"['div', 'h1', 'div', 'div', 'div', 'div', 'art...","{'div': 11, 'h1': 1, 'article': 1, 'span': 2, ...","['practical component (3 units) optional', 'mi..."
3,Massachusetts Institute of Technology (MIT),Master of Business Analytics,1.0,Private,3,School of Management,Cambridge,63250.0,https://mitsloan.mit.edu/master-of-business-an...,"In just 12 months, the MIT Sloan Master of Bus...","['h1', 'h2', 'h5', 'h3', 'h4']","[['Master of Business Analytics'], ['Curriculu...",['https://www.facebook.com/MITSloanAdmissions/...,2019-12-20,2019-12-20,"['div', 'div', 'div', 'div', 'div', 'div', 'se...","{'div': 246, 'section': 16, 'figure': 43, 'spa...","['master of business analytics', 'patrick jail..."
4,Columbia University,Master of Science in Applied Analytics,1.5,Private,5,School of Professional Studies,Berkeley,83016.0,https://sps.columbia.edu/academics/masters/app...,The Master of Science in Applied Analytics pre...,"['h1', 'h2', 'h3']","[['Applied Analytics'], ['Using analytics to m...","['https://apply.sps.columbia.edu/apply/', '/ac...",2021-05-21,2021-05-21,"['div', 'div', 'section', 'div', 'article', 's...","{'div': 81, 'section': 1, 'article': 8, 'span'...","['m.s. application requirements', 'featured fa..."

In [25]:
temp2.columns

Index(['Name of university', 'Name of program', 'Duration (years) (Full-time)',
       'Status of Funding',
       'Ranking of university (QS-USA, 2020) (Can be same for 2 different unis)',
       'Department offering program', 'Location',
       'Fees (USD) (Only Tuition fees considered)', 'url', 'content',
       'header_tag', 'header_names', 'links_useful_area', 'date_published',
       'date_last_modified', 'tags', 'tag_freq', 'emphasized'],
      dtype='object')

In [30]:
ren_cols = [
    'uni_name',
    'pgm_name',
    'dur_yrs',
    'type',
    'national_rank_qs',
    'dept_involved',
    'location',
    'fees_usd',
    'url',
    'descr',
    'header_tag',
    'header_names',
    'links',
    'date_pub',
    'date_last_mod',
    'html_tags',
    'html_tag_freq',
    'html_emphasized_elements'
]

temp2.columns = ren_cols

In [31]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 80
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   uni_name                  81 non-null     object
 1   pgm_name                  81 non-null     object
 2   dur_yrs                   55 non-null     float64
 3   type                      81 non-null     object
 4   national_rank_qs          81 non-null     int64
 5   dept_involved             81 non-null     object
 6   location                  81 non-null     object
 7   fees_usd                  7 non-null      float64
 8   url                       81 non-null     object
 9   descr                     81 non-null     object
 10  header_tag                81 non-null     object
 11  header_names              81 non-null     object
 12  links                     81 non-null     object
 13  date_pub                  81 non-null     object
 14  date_last_mod             81 non-null     object
 15  html_tags                 81 non-null     object
 16  html_tag_freq             81 non-null     object
 17  html_emphasized_elements  81 non-null     object
dtypes: float64(2), int64(1), object(15)
memory usage: 12.0+ KB

In [32]:
temp2.head()

,uni_name,pgm_name,dur_yrs,type,national_rank_qs,dept_involved,location,fees_usd,url,descr,header_tag,header_names,links,date_pub,date_last_mod,html_tags,html_tag_freq,html_emphasized_elements
0,Harvard University,Master of Science Data Science,1.5,Private,1,Departments of Computer Science and Statistics,Cambridge,87356.0,https://www.seas.harvard.edu/applied-computati...,"The Data Science master's program, jointly led...","['h1', 'h2']","[[""Master's in Data Science\n""], ['Main naviga...","['/computer-science', 'https://statistics.fas....",2021-01-01,2021-01-01,"['div', 'div', 'h1', 'span', 'div', 'div', 'di...","{'div': 7, 'h1': 1, 'span': 2, 'p': 11, 'a': 3...","['wednesday, october 13', ""master's in data sc..."
1,Stanford University,Master of Science Education Data Science,1.5,Private,2,School of Education,Stanford,60851.0,https://ed.stanford.edu/academics/masters/ed-d...,Data hold enormous potential to advance discov...,"['h2', 'h1', 'h3', 'h4']","[['You are here', 'Education data science at S...","['/', '/academics/masters/data-science/program...",2020-06-05,2021-01-14,"['div', 'h2', 'ul', 'li', 'div', 'a', 'i', 'sp...","{'div': 210, 'h2': 4, 'ul': 1, 'li': 2, 'a': 2...","['education data science (ms)', 'carl wieman',..."
2,Stanford University,Master of Science in Statistics: Data Science,1.5,Private,2,School of Humanities and Sciences,Cambridge,72420.0,https://statistics.stanford.edu/academic-progr...,This focused M.S. track is developed within th...,"['h1', 'h3', 'h4']","[[' M.S. in Statistics: Data Science '], ['201...",['https://statistics.stanford.edu/academics/ms...,2019-01-01,2020-01-01,"['div', 'h1', 'div', 'div', 'div', 'div', 'art...","{'div': 11, 'h1': 1, 'article': 1, 'span': 2, ...","['practical component (3 units) optional', 'mi..."
3,Massachusetts Institute of Technology (MIT),Master of Business Analytics,1.0,Private,3,School of Management,Cambridge,63250.0,https://mitsloan.mit.edu/master-of-business-an...,"In just 12 months, the MIT Sloan Master of Bus...","['h1', 'h2', 'h5', 'h3', 'h4']","[['Master of Business Analytics'], ['Curriculu...",['https://www.facebook.com/MITSloanAdmissions/...,2019-12-20,2019-12-20,"['div', 'div', 'div', 'div', 'div', 'div', 'se...","{'div': 246, 'section': 16, 'figure': 43, 'spa...","['master of business analytics', 'patrick jail..."
4,Columbia University,Master of Science in Applied Analytics,1.5,Private,5,School of Professional Studies,Berkeley,83016.0,https://sps.columbia.edu/academics/masters/app...,The Master of Science in Applied Analytics pre...,"['h1', 'h2', 'h3']","[['Applied Analytics'], ['Using analytics to m...","['https://apply.sps.columbia.edu/apply/', '/ac...",2021-05-21,2021-05-21,"['div', 'div', 'section', 'div', 'article', 's...","{'div': 81, 'section': 1, 'article': 8, 'span'...","['m.s. application requirements', 'featured fa..."

In [34]:
# remove fee information
temp2 = temp2.drop('fees_usd', axis=1)

In [35]:
temp2.to_csv('data/processed/usa_pgms.csv', index=False)